{% extends "base.html" %} 

{% block turnover %} active {%endblock%}

{% block turnover2 %}
        <div class="col-sm-12 col-xl-6">
          <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Horizontal Form</h6>
            <form method="post" action="">
              {% csrf_token %}
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Account Number</label
                >
                <div class="col-sm-10">
                  {{ form.acc_number }}
                </div>
              </div>
              
              <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios1"
                      value="option1"
                      onclick="showForm(1)"
                    />
                    <label class="form-check-label" for="gridRadios1">
                      Last n transactions
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios2"
                      value="option2"
                      onclick="showForm(2)"
                    />
                    <label class="form-check-label" for="gridRadios2">
                      Date form
                    </label>
                  </div>
                </div>
              </fieldset>
              <div class="mb-3" id='form1' style="display: none">
                
                <label for="exampleInputEmail1" class="form-label"
                  >last n transactions</label
                >
                {{ form.number }}
                
                
              </div>
              <div id='form2' style="display: none">
                
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >start date</label
                  >
                  {{ form.start_date }}
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >end date</label
                  >
                  {{ form.end_date }}
                </div>
              
              </div>
              <button type="submit" class="btn btn-primary">تایید</button>
            </form>
          </div>
        </div>

        <script>
          function showForm(formNumber) {
            document.getElementById('form1').style.display = 'none';
            document.getElementById('form2').style.display = 'none';
            document.getElementById('form' + formNumber).style.display = 'block';
          }
        </script>
{% endblock %}
