{% extends "base.html" %} 

{% block dash %}active{%endblock%}

{% block Dashboard %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h6 class="mb-0">Recent Salse</h6>
      <a href="">Show All</a>
    </div>
    <div class="table-responsive">
      <table
        class="table text-start align-middle table-bordered table-hover mb-0"
      >
        <thead>
          <tr class="text-dark">
            <th scope="col">
              <input class="form-check-input" type="checkbox" />
            </th>
            <th scope="col">Date Created</th>
            <th scope="col">Account Number</th>
            <th scope="col">Owner</th>
            <th scope="col">Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for account in accounts %}
            <tr>
              <td><input class="form-check-input" type="checkbox" /></td>
              <td>{{account.7}}</td>
              <td>{{account.2}}</td>
              <td>{{request.session.first_name}} {{request.session.last_name}}</td>
              <td>${{account.5}}</td>
              {% if account.9 %}
                <td>Active</td>
              {% else %}
                <td>Block</td>
              {% endif %}

              <td><a class="btn btn-sm btn-primary" href="{% url 'management:profile' %}">Detail</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
